.ContainerProducts{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.ContainerProducts h1{
    font-family: "Noto Serif Display", serif;
    font-size: 60px;
    margin-top: 20px;
    text-align: center;

}

.ContainerProducts h2{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;    
margin-bottom: 35px;
font-family: "Noto Serif Display", serif;

}


.Containercards{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin:0;
    flex-wrap: wrap;
}

.Cardproduct{
    height: 380px;
    border: solid 1px gray;
    width: 250px;
    border-radius: 10px;
    margin: 5px 30px;

}

@media (max-width:600px){
    .Cardproduct{  
        margin: 5px 0; 
    }

    .ContainerProducts h1{
        font-size: 40px;
    }

    .ContainerProducts h2{
        font-size: 25px;
     
    }
    

}


.Cardimg{
    display: flex;
    justify-content: center;
    height: 60%;
}


.Cardimg img{
    width: 100%;
    border-radius: 10px;
    margin: 0 0 10px 0;       
}

/* INFORMACION DE LA CARD */
.Cardinfo{
    text-align: center;
    margin: 5px;
    height: 20%;
}

/* PRECIO DE LA CARD */

.Cardprice{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 20%;    
}
.Cardprice p{
    text-align: center;  
  
}
.Cardprice h1{
    font-size: 35px;
}