.ContainerProducts{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.ContainerProducts h1{
    font-family: "Noto Serif Display", serif;
    font-size: 60px;
    margin-top: 20px;
    text-align: center;

}

.ContainerProducts h2{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;    
margin-bottom: 35px;
font-family: "Noto Serif Display", serif;

}


.Containercards{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    margin:0;
    flex-wrap: wrap;
}

.Containerhorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Horizontalimg{
    display: flex;
    justify-content: center;
}
.Cardhorizontal{
    height: 100%;
    border: solid 1px gray;
    width: 300px;
    border-radius: 10px;   
   
}

@media (max-width:350px){
    .Cardhorizontal{
        height: 100%;
        border: solid 1px gray;
        width: 250px;
        border-radius: 10px;   
       
    }
}

.Cardinfohorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Cardinfohorizontal p{
    text-align: center;
    font-size: 15px;  
    
}

.Cardinfohorizontal h1{
    font-size: 22px;
}
.liquidosimgjabon{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Cardproduct{
    height: 420px;
    border: solid 1px gray;
    width: 250px;
    border-radius: 10px;
    margin: 5px 30px;

}

@media (max-width:600px){
    .Cardproduct{  
        margin: 5px 0; 
    }

    .ContainerProducts h2{
        font-size: 25px;
     
    }
    

}


.Cardimg{
    display: flex;
    justify-content: center;
    height: 70%;
}




.Cardimg img{
    width: 100%;   
    border-radius: 10px;
    object-fit: cover;    
}

.aceiteserum{
    object-position: center -28px;
}

.Naranjasoap{
    object-position: center +0px;
}

.Rositas{
    object-position: center -55px;
}

.CABRAX{
    object-position: center -32px;
}

/* INFORMACION DE LA CARD */
.Cardinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    height: 30%;
}

.Cardinfo p{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.Cardinfo h1{
    font-size: 22px;
    margin: 0;
}


